
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

section {
	background-color: #f2f2f2;
	box-sizing: border-box;
	padding: 20px;
	margin: 20px;
	text-align: center;
	max-width: 300px;
}

img {
	max-width: 100%;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 0;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
